.mainContainer {
  position: relative;
  height: 100%;
}

.kpiContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}

.row {
  margin-bottom: 0;
}

.sidebar-area {
  height: calc(100vh - 47px);
  background-color: #424242;
  color: #fff;
  width: 50px;
}
